{% extends 'base.html' %}
{% load static %}
{% block content %}
<div><div class="container">
    <div class="row ">
    
    <div class="col-md-3 mt-4">
        <div class="card bg-info" style="height: 400px;">
            <img src="{{var.image.url}}" alt="a snow-capped mountain range" style="height: 200px;" />
            <p>{{var.name}}</p>
            <p>{{var.companytype}}</p>
            <p>{{var.email}}</p>
            <p>{{var.website}}</p>

            
        </div>
    </div>
    
    </div>
    <div class="col-md-3 mt-4">
        <a href="{% url 'logout' %}">
            <button  type="button" class="btn btn-danger w-100">logout</button>
        </a>
    </div>
    </div>
</div>
<table class="table table-dark mt-4">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">branchname</th>
        <th scope="col">businessname</th>

        <th scope="col">Email</th>
        <th scope="col">password</th>
        <th scope="col">phone</th>
        <th scope="col">website</th>

        <th scope="col">city</th>
        <th scope="col">state</th>
        <th scope="col">country</th>
        <th scope="col">pin</th>
        <th scope="col">image</th>
        
       

      </tr>
    </thead>
    <tbody>
        {% for i in mem %}
      <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{i.branchname}}</td>
        <td>{{i.businessname}}</td>

        <td>{{i.email}}</td>
        <td>{{i.password}}</td>
        <td>{{i.phone}}</td>
        <td>{{i.website}}</td>

        <td>{{i.city}}</td>
        <td>{{i.state}}</td>
        <td>{{i.country}}</td>
        <td>{{i.pin}}</td>
        <td><img src="{{i.image.url}}" alt="a snow-capped mountain range" style="height: 20px;" /></td>

       

      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}