{% extends 'base.html' %} 
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-12 mt-3">
            <div class="card p-3 border-danger">
                <form action="companysignup" method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-md-12 mt-3">
                            <center>Company registration</center>

                        </div>
                       
                        <div class="col-md-3 mt-3">
                            <label for="">Name</label>
                        </div>
                        <div class="col-md-9 mt-3">
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="col-md-3 mt-3">
                            <label for="">Company type</label>
                        </div>
                        <div class="col-md-9 mt-3">
                            <input type="text" name="companytype" class="form-control">
                        </div>
                        <div class="col-md-3 mt-3">
                            <label for="">Business name</label>
                        </div>
                        <div class="col-md-9 mt-3">
                            <input type="text" name="businessname" class="form-control">
                        </div>
                        <div class="col-md-3 mt-3">
                            <label for="">Email</label>
                        </div>
                        <div class="col-md-9 mt-3">
                            <input type="email" name="email" class="form-control">
                        </div>
                        <div class="col-md-3 mt-3">
                            <label for="">Phone</label>
                        </div>
                        <div class="col-md-9 mt-3">
                            <input type="text" name="phone" class="form-control">
                        </div>
                        <div class="col-md-3 mt-3">
                            <label for="">Website</label>
                        </div>
                        <div class="col-md-9 mt-3">
                            <input type="text" name="website" class="form-control ">
                        </div>
                        <div class="col-md-3 mt-3">
                            <label for="">City</label>
                        </div>
                        <div class="col-md-9 mt-3">
                            <input type="text" name="city" class="form-control ">
                        </div>
                        <div class="col-md-3 mt-3">
                            <label for="">State</label>
                        </div>
                        <div class="col-md-9 mt-3">
                            <input type="text" name="state" class="form-control ">
                        </div>
                        <div class="col-md-3 mt-3">
                            <label for="">Country</label>
                        </div>
                        <div class="col-md-9 mt-3">
                            <input type="text" name="country" class="form-control ">
                        </div>
                        <div class="col-md-3 mt-3">
                            <label for="">PIN</label>
                        </div>
                        <div class="col-md-9 mt-3">
                            <input type="text" name="pin" class="form-control ">
                        </div>
                        <div class="col-md-3 mt-3">
                            <label for="">image</label>
                        </div>
                        <div class="col-md-9 mt-3">
                            <input type="file" name="image" class="form-control">
                        </div>
                       
                        <div class="col-md-12 mb-3 mt-3">

                            <button type="submit" class="btn btn-primary w-100">signup</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3 mt-4">
            <a href="{% url 'logout' %}">
                <button  type="button" class="btn btn-danger w-100">logout</button>
            </a>
        </div>
    </div>
</div>
{% endblock%}